In [65]:
import numpy as np
import pandas as pd

E = 1900000  
u = 0.2;                               #Coeficiente de Poisson
G = E/(2*(1+u))
f = 6/5
numelem = 9
#Longitudes de los elementos
Lin = np.sqrt((2*2)+(2*2))
L = [2, 2, 2, 2, 2, Lin ,Lin, 4, 5]
#L = [2;2;2;2;2;2;sqrt(8);sqrt(8);4;5];
#Bases de los elementos
b = [0.35, 0.4, 0.35, 0.35, 0.40, 0.2, 0.2, 0.3, 0.3]
#b=[35;40;35;35;40;20;20;30;30];
#Alturas de los elementos
h = [0.35, 0.4, 0.35, 0.35, 0.40, 0.35, 0.35 ,0.35, 0.35]
#h=[35;40;35;35;40;35;35;35;35]
#Areas e inercias de los elementos

A = np.zeros(numelem)
I = np.zeros(numelem)

for i in range (numelem):       #Numero de elementos
    A[i]=b[i]*h[i]
    I[i]=((b[i]*h[i]**3)/12)



def ke_EI_GAf_AE_extre(AE,EI,be,L,dA,dB):
    kp = 2*EI/L*(2+be)/(1+2*be)
    ap = 2*EI/L*(1-be)/(1+2*be)
    bp = 6*EI/L**2*(1)/(1+2*be)
    tp = 12*EI/L**3*(1)/(1+2*be)
    r = AE/L
    kpp = kp+2*bp*dA+tp*dA*2
    app = ap+bp*(dA+dB)+tp*(dA*dB)
    bpp = bp+tp*dA
    bppp = bp+tp*dB
    kppp = kp+2*bp*dB+tp*dB**2

    k = [[r, 0, 0, -r, 0, 0],
        [0, tp, bpp, 0, -tp, bppp],
        [0, bpp, kpp, 0, -bpp, app],
        [-r, 0, 0, r, 0, 0],
        [0, -tp, -bpp, 0, tp, -bppp],
        [0, bppp, app, 0, -bppp, kppp]]

    return k


def T_elem_MP_6x6(alfas):
#permite pasar de un sistema de coordenadas locales a globales 
#T_elem_MP_6x6(alfas)
# #alfas = angulo comprendido entre el sistema de coordenadas globales hacia el sistema de coordenadas locales 

    Ta = [[np.cosd(alfas), -np.sind(alfas), 0, 0, 0, 0],
        [np.sind(alfas), np.cosd(alfas), 0, 0, 0, 0],
        [0, 0, 1, 0, 0, 0],
        [0, 0, 0, np.cosd(alfas), -np.sind(alfas), 0],
        [0, 0, 0, np.sind(alfas), np.cosd(alfas), 0],
        [0, 0, 0, 0, 0, 1]]



def Ac(Lee,aep_L,p2):

    for i in range (1, np.len(Lee)):
        ii = Lee[i] 
        p2[ii] = p2[ii] - aep_L[i]

In [66]:
Lv = L[1]                               #m
#Numero de columnas y vigas
npis = 1
ncol = 3
nvi = ncol-1
nelem = npis*(ncol+nvi)          #Numero de elementos
nelem = 9
#Grados de libertad
#Automatizar
nglt = 27                                   #grados de libertad incluidas restricciones
gdl = 19                                    #grados de libertad
#Cargas Nodales
P = ([1.5,0.5,0,0,0,0,2,0,0,0,0,0,0,0,0,-4,0,0,1.8])            #Vector de cargas nodales
#Acciones de empotramiento perfecto
w = ([0,0,0,0,0,0,0,1,2])            #t/m2


def Kelem_6GDL_MVA(E,I,G,L,A,f):

    r = A*E/L
    B = (6*E*I*f)/(G*A*(L**2))
    kp = (2*E*I/L)*((2+B)/(1+2*B))
    ap = (2*E*I/L)*((1-B)/(1-2*B))
    bp = (6*E*I/(L**2))*(1/(1+2*B))
    tp = (12*E*I/(L**3))*(1/(1+2*B))

    #Declaracion de la matriz de rigidez
    k = [[r, 0, 0, -r, 0, 0],
        [0, tp, bp, 0, -tp, bp],
        [0, bp, kp, 0, -bp, ap],
        [-r, 0, 0, r, 0, 0],
        [0, -tp, -bp, 0, tp, -bp],
        [0, bp, ap, 0, -bp, kp]]

    return k


j = 0
kelacum = np.zeros((numelem*6,6))
for i in range (numelem):
    kelacum[j:j+6,:] = Kelem_6GDL_MVA(E,I[i],G,L[i],A[i],f)
    j+=6

tbl_kelacum = pd.DataFrame(kelacum)         #Matriz acumulada de las matrices locales
display(tbl_kelacum.style.set_caption('kelacum',))

In [67]:
teta = np.array([90, 270, 270, 90, 270, 45, 315, 0, 0])
j = 0
tlacum = np.zeros((6*nelem, 6))

for i in range(nelem):
    tlacum[j:j+6,:] = np.array([[np.cos(np.deg2rad(teta[i])),-np.sin(np.deg2rad(teta[i])),0,0,0,0],
                                [np.sin(np.deg2rad(teta[i])), np.cos(np.deg2rad(teta[i])),0,0,0,0],
                                [0,0,1,0,0,0],
                                [0,0,0,np.cos(np.deg2rad(teta[i])),-np.sin(np.deg2rad(teta[i])),0],
                                [0,0,0,np.sin(np.deg2rad(teta[i])),np.cos(np.deg2rad(teta[i])),0],
                                [0,0,0,0,0,1]])
    j = j+6

tbl_tlacum = pd.DataFrame(tlacum)
display(tbl_tlacum.style.set_caption('tlacum')) # Matriz de Transformacin

In [68]:
#Matriz de Transformacion Local a Global

j = 0
tlacumtra = np.zeros((numelem*6,6))
for i in range (1,numelem):
    tlacumtra[j:j+6,:] = np.transpose(tlacum[j:j+6,0:6])
    j+=6

tbl_tlacumtra = pd.DataFrame(tlacumtra)
display(tbl_tlacum.style.set_caption('tlacumtra'))

In [69]:
#Matriz Global
j = 0
kgacum = np.zeros((numelem*6,6))
for i in range (numelem):
    kgacum[j:j+6,:] = tlacum[j:j+6,:] @ kelacum[j:j+6,:] @ tlacumtra[j:j+6,:]
    j+=6

tbl_kgacum = pd.DataFrame(kgacum)
display(tbl_kgacum.style.set_caption('kgacum'))

In [70]:
#Numero de nodos automatico
no = ncol*2;       #Numero de nodos en la estructura
#Tabla de los grados de libertad correspondiente a cada nodo
nodo = np.array([[20, 21, 22],
                [10, 11, 12],
                [4, 5, 6],
                [1, 2, 3],
                [7, 8, 9],
                [13, 14, 15],
                [23, 24, 19],
                [16, 17, 18],
                [25, 26, 27],])


#Matriz de que nodo a que nodo van los elementos
#Ensamble

Vcn = np.array([[1, 2],
        [6, 7],
        [8, 9],
        [2, 3],
        [5, 6],
        [3, 4],
        [4, 5],
        [2, 6],
        [6, 8]])

tbl_nodo = pd.DataFrame(nodo)
display(tbl_nodo.style.set_caption('nodo'))

tbl_Vcn = pd.DataFrame(Vcn)
display(tbl_Vcn.style.set_caption('Vcn'))

In [71]:
Vc = np.zeros((numelem,6))
#Ensamble de vectores de colocacion en funcion de Vcn

for i in range(numelem):
    for j in range(3):
        Vc[i, j] = nodo[Vcn[i,0]-1,j]
        Vc[i, j+3] = nodo[Vcn[i,1]-1,j]

tbl_Vc = pd.DataFrame(Vc)
display(tbl_Vc.style.set_caption('Vc'))

In [72]:
def Ens(lee,K,S,nglt):
    '''
    Ens vector de ensamble 
    lee vector de colocacion. numerando los grados de libertad para cada elemento 
    K Matrices de Rigides de cada elemento en coordenadas de globales
    S Matriz de rigidez total de la estructura 
    nglt numero de grados de libertad incluido resticciones 
    '''

    ng = len(lee)
    for i in range (ng):                             # contador de filas 
        ii = int(lee[i-1])
        #print("ii:", ii)   #Print ii to debug
       # if ii>0:                                    # cuanta la posiscion ii en 1,1:2,2..etc
        if ii <= nglt:                             # restringe que que las posicio ii no supere los grados de libertad.
            for j in range (ng):
                jj=int(lee[j-1])                          # cuanta la posiscion jj en 1,1:2,2..etc
                #if jj>0:
                #print("jj:", jj)   #Print jj to debug
                if jj <= nglt:                 # restringe que que las posicio jj no supere los grados de libertad.
                    S[ii-1,jj-1]=S[ii-1,jj-1]+ K[i-1,j-1]  # ensambla la matriz S con las coordenadas mas la matriz original K de cada miembro
    
    return S


#Matriz de Rigidez de la Estructura
S = np.zeros((nglt,nglt), dtype=float)

j=0
for i in range(numelem):
    S = Ens(Vc[i,:], kgacum[j:j+6,:], S, nglt)
    j+=6

tbl_S = pd.DataFrame({'S': [S]})
display(tbl_S)

                                                   S
0  [[47712.22222754739, 7.275957614183426e-12, 13...

In [73]:
SLL = S[0:gdl,0:gdl]

tbl_SLL = pd.DataFrame({'SLL': [SLL]})
display(tbl_SLL)

                                                 SLL
0  [[47712.22222754739, 7.275957614183426e-12, 13...

In [74]:
j = 0
re = np.zeros((numelem*6,6))
for i in range (numelem):
    if L[i] == Lv or L[i] == Lin:
        re[j:j+3,:] = [[0, 0, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0],
                        [0, 0, 0, 0, 0, 0]]
    else:
        if Vcn[i,0]<=3:
            re[j:j+3,:] = [[0, 0, 0, 0, 0, 0],
                        [0, w[i]*L[i]/2, 0, 0, 0, 0],
                        [0, 0, w[i]*L[i]**2/12, 0, 0, 0]]
        
        if Vcn[i,1]<=3:
            re[j+3:j+5,:] = [[0, 0, 0, 0, 0, 0]
                        [0, 0, 0, 0, w[i]*L[i]/2, 0]
                        [0, 0, 0, 0, 0, -w[i]*L[i]**2/12]]
        
    j+=6


re[42,:] = ([0, 0, 0, 0, 0, 0])
re[43,:] = ([0, w[7]*L[7]/2, 0, 0, 0, 0])
re[44,:] = ([0, 0, (w[7]*(L[7]**2))/12, 0, 0, 0])
re[45,:] = ([0, 0, 0, 0, 0, 0])
re[46,:] = ([0, 0, 0, 0, w[7]*L[7]/2, 0])
re[47,:] = ([0, 0, 0, 0, 0, (-w[7]*(L[7]**2))/12])
   
re[48,:] = ([0, 0, 0, 0, 0, 0])
re[49,:] = ([0, w[8]*L[8]/2, 0, 0, 0, 0])
re[50,:] = ([0, 0, (w[8]*(L[8]**2))/12, 0, 0, 0])
re[51,:] = ([0, 0, 0, 0, 0, 0])
re[52,:] = ([0, 0, 0, 0, w[8]*L[8]/2, 0])
re[53,:] = ([0, 0, 0, 0, 0, (-w[8]*(L[8]**2))/12])


tbl_re = pd.DataFrame({'re': [re]})
display(tbl_re)

<>:15: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
<>:15: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
C:\Users\USUARIO\AppData\Local\Temp\ipykernel_5168\3045240191.py:15: SyntaxWarning: list indices must be integers or slices, not tuple; perhaps you missed a comma?
  re[j+3:j+5,:] = [[0, 0, 0, 0, 0, 0]

                                                  re
0  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0....

In [75]:
Idl = np.eye(6)
aepmat = np.zeros((gdl,gdl))
aep_L = np.zeros((numelem*6,6))

j=0
for i in range (numelem):
    aepmat = Ens(Vc[i,:], re[j:j+6,:], aepmat, gdl)
    aep_L[j:j+6,:] = re[j:j+6,:] @ Idl
    j+=6


tbl_aepmat = pd.DataFrame({'aepmat': [aepmat]})
display(tbl_aepmat)

tbl_aep_L = pd.DataFrame({'aep_L': [aep_L]})
display(tbl_aep_L)

                                              aepmat
0  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

                                               aep_L
0  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0], [0.0, 0.0, 0....

In [78]:
Idl2 = np.eye(gdl)
aep = aepmat @ Idl2

tbl_aep = pd.DataFrame({'aep': [aep]})
display(tbl_aep)          #Globales

tbl_P_aep = pd.DataFrame({'P_aep': [P-aep]})
display(tbl_P_aep)

Des_g = (SLL**(-1)) @ (P-aep)

tbl_Des_g = pd.DataFrame({'Des_g': [Des_g]})
display(tbl_Des_g)

                                                 aep
0  [[0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0, 0.0,...

                                               P_aep
0  [[1.5, 0.5, 0.0, 0.0, 0.0, 0.0, 2.0, 0.0, 0.0,...

C:\Users\USUARIO\AppData\Local\Temp\ipykernel_5168\3827542360.py:10: RuntimeWarning: divide by zero encountered in reciprocal
  Des_g = (SLL**(-1)) @ (P-aep)
C:\Users\USUARIO\AppData\Local\Temp\ipykernel_5168\3827542360.py:10: RuntimeWarning: invalid value encountered in matmul
  Des_g = (SLL**(-1)) @ (P-aep)

                                               Des_g
0  [[inf, inf, nan, nan, nan, nan, inf, nan, nan,...

In [79]:
filas_a_agregar = 8
columnas = Des_g.shape[1]  # Obtn el nmero de columnas de la matriz original

# Crea una matriz de ceros del tamao necesario
ceros_agregados = np.zeros((filas_a_agregar, columnas))

#Relleno de vector de desplazamientos con todos los grados de libertad
# Concatena las matrices
Des_g = np.vstack((Des_g, ceros_agregados))
aep = np.vstack((aep, ceros_agregados))


#Acomodacion de nudos A y B
j = 0
Des_g_ij = np.zeros((numelem*6,6))
aep_g_ij = np.zeros((numelem*6,6))

for i in range(numelem):
    indices = Vc[i, :].astype(int)  # Convert indices to integer type
    Des_g_ij[j:j+6, :] = Des_g[indices, :]
    aep_g_ij[j:j+6, :] = aep[indices, :]
    j += 6

tbl_Des_g_ij = pd.DataFrame({'Des_g_ij': [Des_g_ij]})
tbl_aep_g_ij = pd.DataFrame({'aep_g_ij': [aep_g_ij]})
display(Des_g_ij)
display(aep_g_ij)

ValueError: could not broadcast input array from shape (6,19) into shape (6,6)

In [ ]:
#Vector de Desplazamiento ij transformado a locales
j = 1
fe_g = np.zeros(numelem)
for i in range (1,nelem):
    fe_g[j:j+5,:] = kgacum[j:j+5,:]*Des_g_ij[j:j+5,:]
    j+=6

tbl_fe_g = pd.DataFrame({'fe_g',fe_g})
display(fe_g)

IndexError: too many indices for array: array is 1-dimensional, but 2 were indexed

In [ ]:
#Vector de acciones
j=1
fe_l = np.zero(numelem)
fe_g = np.zeros(numelem)
for i in range (1,nelem):
    fe_l[j:j+5,1] = tlacumtra[j:j+5,1:6]*fe_g[j:j+5,1] 
    j+=6

fe_l_aep = fe_l + aep_L

tbl_fe_l = pd.DataFrame({'fe_l',fe_l})
tbl_fe_l_aep = pd.DataFrame({'fe_l_aep',fe_l_aep})
display(tbl_fe_l)
display(tbl_fe_l_aep)

In [ ]:
#Tabla de valores de axial, corte y momento
axial = np.zeros(nelem,1)
corte = np.zeros(nelem,1) 
momento = np.zeros(nelem,1)

j=1
for i in range (1,numelem):
     #Axial
     axial[i,1] = fe_l_aep[j]
     axial[i,2] = fe_l_aep[j+3]
     #Corte
     corte[i,1] = fe_l_aep[j+1]
     corte[i,2] = fe_l_aep[j+4]
     #Momento
     momento[i,1] = fe_l_aep[j+2]
     momento[i,2] = fe_l_aep[j+5]
     j+=6


tbl_axial = pd.DataFrame({'axial',axial})
tbl_corte = pd.DataFrame({'corte',corte})
tbl_momento = pd.DataFrame({'momento',momento})
display(tbl_axial)
display(tbl_corte)
display(tbl_momento)