In [36]:
import numpy as np
import pandas as pd
from scipy import linalg

In [37]:
L = 2 #m
a = 0.7 #m
g = 9.81 #m/(s^2)
m = 0.5 #Tons
W = m*g
E = 200000 #Tons/m2
k = (np.pi*(0.005**2)*0.25)*E

w1 = np.sqrt(m*((m*g*L)+(2*(a**2)*k)))/(m*L)
w2 = np.sqrt(g*L)/L

T1 = (2*np.pi)/w1
T2 = (2*np.pi)/w2

df = pd.DataFrame({'Valores de w': [[w1],[w2]], 'Valores de T': [[T1],[T2]]})
display(df)

           Valores de w          Valores de T
0   [2.613278687840956]  [2.4043303672179874]
1  [2.2147234590350102]  [2.8370067068857745]

In [38]:
phi1 = [[1], [-1]]

phi2 = [[1], [1]]

K = [[((a**2)*k)+(m*g*L), -((a**2)*k)],
      [-((a**2)*k), ((a**2)*k)+(m*g*L)]]

M = [[(m*(L**2)), 0],
      [0, (m*(L**2))]]

w, phi = linalg.eig(K, M)

print(w)
print(phi)

[6.8292255+0.j 4.905    +0.j]
[[ 0.70710678  0.70710678]
 [-0.70710678  0.70710678]]