In [1]:
import numpy as np
import pandas as pd
from scipy.linalg import eig, eigh


M = [[7.13557594, 0, 0, 0],
    [0, 7.13557594, 0, 0],
    [0, 0, 7.13557594, 0,],
    [0, 0, 0, 7.13557594]]
      
K = [[678957.16733674, -339478.58366837, 0, 0],
     [-339478.58366837, 678957.16733674, -339478.58366837, 0],
     [0, -339478.58366837, 678957.16733674, -339478.58366837],
     [0, 0, -339478.58366837, 339478.58366837]]

V, D = eigh(K, M)

V_tbl = pd.DataFrame(V)
D_tbl = pd.DataFrame(D)
display(D_tbl)
display(V_tbl)

          0             1         2         3
0  0.085358  2.161349e-01 -0.245780 -0.160421
1  0.160421  2.161349e-01  0.085358  0.245780
2  0.216135 -1.765281e-17  0.216135 -0.216135
3  0.245780 -2.161349e-01 -0.160421  0.085358

               0
0    5738.307280
1   47575.498674
2  111673.794640
3  168040.890122